html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; color: #555; }
table { border-collapse: collapse; border-spacing: 0; }
html { height: 100%; }
header, nav, section, article, aside, footer { display: block; }

body { font: 16px/1.5 Arial, sans-serif; width: 100%; height: 100%; }
a:link,
a:visited { color: #388bd1; outline: none; text-decoration: underline; }
a:hover,
a:active { color: #ce1957; outline: none; text-decoration: underline; }
p { margin: 0 0 18px; }
img { border: none; }
input { vertical-align: middle; }

#wrapper {
  width: 990px; margin: 20px auto; min-height: 100%; height: auto !important; height: 100%;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  padding: 15px; border: 1px solid #e9e7e7; border-radius: 3px; box-shadow: 2px 2px 3px 0px #e9e7e7;
}


/* Header
-----------------------------------------------------------------------------*/
#header { padding: 0 0 20px; margin: 0 0 35px; border-bottom: 1px dashed #e9e7e7; text-align: center; }

.ap-sites { display: inline-block; vertical-align: middle; margin: 0 25px; overflow: hidden; }
.aps-apress { width: 66px; height: 48px; background: url(../img/logo_abak.png) 0 0 no-repeat; line-height: 50px; text-indent: 70px; }
.aps-puls { width: 164px; height: 28px; background: url(../img/logo_pulscen.png) 0 0 no-repeat; line-height: 30px; text-indent: 170px; }
.aps-blizko { width: 140px; height: 27px; background: url(../img/logo_blizko.png) 0 0 no-repeat; line-height: 30px; text-indent: 140px; }
.aps-lookmart { width: 175px; height: 34px; background: url(../img/logo_lookmart.png) 0 0 no-repeat; line-height: 40px; text-indent: 180px; }
.aps-dk { width: 101px; height: 43px; background: url(../img/logo_dk.png) 0 0 no-repeat; line-height: 50px; text-indent: 110px; }

h1 { margin: 25px 0 0; font-size: 30px; color: #444; }

/* Middle
-----------------------------------------------------------------------------*/
#content { padding: 0 30px 200px; }
h2 { font-size: 24px; font-weight: normal; margin: 35px 0 15px; }
h3 { font-size: 20px; font-weight: normal; margin: 35px 0 15px; }
h4 { font-size: 16px; margin: 15px 0; }
h2:first-child,
h3:first-child,
h4:first-child { margin-top: 0; }
p { margin: 0 0 15px; }
.v-head { color: #388bd1; border-bottom: 1px dashed #388bd1; cursor: pointer; }
.v-head:hover { color: #ce1957; border-bottom-color: #ce1957; }
.v-info { display: none; }
.vacancy.show- .v-info { display: block; padding: 10px 15px 1px; background: #fafafa; border: 1px solid #eee; border-radius: 3px; margin: 0 0 15px; }

/* Footer
-----------------------------------------------------------------------------*/
#footer {
  width: 990px; margin: -220px auto 0; height: 220px; position: relative; padding: 0 15px; text-align: center;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#footer .content- { border-top: 1px dashed #ccc; padding-top: 15px; }
.prog-sites { padding: 10px 0 0; }
.p-sites { display: inline-block; vertical-align: middle; margin: 0 25px 20px; overflow: hidden; }
.ps-ruby { width: 152px; height: 50px; background: url(../img/progs/ruby.png) 0 0 no-repeat; line-height: 50px; text-indent: 160px; }
.ps-rails { width: 39px; height: 50px; background: url(../img/progs/rails.png) 0 0 no-repeat; line-height: 50px; text-indent: 40px; }
.ps-unicorn { width: 114px; height: 30px; background: url(../img/progs/unicorn.png) 0 0 no-repeat; line-height: 30px; text-indent: 120px; }
.ps-nginx { width: 150px; height: 50px; background: url(../img/progs/nginx.gif) 0 0 no-repeat; line-height: 50px; text-indent: 150px; }
.ps-capistrano { width: 101px; height: 23px; background: url(../img/progs/capistrano.png) 0 0 no-repeat; line-height: 30px; text-indent: 110px; }
.ps-memcache { width: 50px; height: 50px; background: url(../img/progs/memcached.png) 0 0 no-repeat; line-height: 50px; text-indent: 50px; }
.ps-redis { width: 93px; height: 30px; background: url(../img/progs/redis.png) 0 0 no-repeat; line-height: 30px; text-indent: 100px; }
.ps-postgresql { width: 116px; height: 40px; background: url(../img/progs/postgresql.png) 0 0 no-repeat; line-height: 40px; text-indent: 120px; }
.ps-gentoo { width: 38px; height: 40px; background: url(../img/progs/gentoo.png) 0 0 no-repeat; line-height: 40px; text-indent: 40px; }
.ps-kvm { width: 129px; height: 40px; background: url(../img/progs/kvm.png) 0 0 no-repeat; line-height: 40px; text-indent: 130px; }
.ps-glusterfs { width: 177px; height: 40px; background: url(../img/progs/glusterfs.png) 0 0 no-repeat; line-height: 40px; text-indent: 180px; }

.kitty { position: fixed; bottom: -190px; right: -169px; width: 169px; height: 190px; background: url(../img/kitties.png) 0 -190px no-repeat; }
.kitty.gohome- { background-position: 0 0; }
