html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; color: #555; }
table { border-collapse: collapse; border-spacing: 0; }
html { height: 100%; }
header, nav, section, article, aside, footer { display: block; }

body { font: 16px/1.5 Arial, sans-serif; width: 100%; height: 100%; }
a:link,
a:visited { color: #388bd1; outline: none; text-decoration: underline; }
a:hover,
a:active { color: #ce1957; outline: none; text-decoration: underline; }
p { margin: 0 0 18px; }
img { border: none; }
input { vertical-align: middle; }

#wrapper {
  width: 990px; margin: 20px auto; min-height: 100%; height: auto !important; height: 100%;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  padding: 15px; border: 1px solid #e9e7e7; border-radius: 3px; box-shadow: 2px 2px 3px 0px #e9e7e7;
}


/* Header
-----------------------------------------------------------------------------*/
#header { padding: 0 0 20px; margin: 0 0 35px; border-bottom: 1px dashed #e9e7e7; text-align: center; }

.ap-sites { display: inline-block; vertical-align: middle; margin: 0 25px; overflow: hidden; }
.aps-apress { width: 66px; height: 48px; background: url(../img/logo_abak.png) 0 0 no-repeat; line-height: 50px; text-indent: 70px; }
.aps-puls { width: 164px; height: 28px; background: url(../img/logo_pulscen.png) 0 0 no-repeat; line-height: 30px; text-indent: 170px; }
.aps-blizko { width: 140px; height: 27px; background: url(../img/logo_blizko.png) 0 0 no-repeat; line-height: 30px; text-indent: 140px; }
.aps-lookmart { width: 175px; height: 34px; background: url(../img/logo_lookmart.png) 0 0 no-repeat; line-height: 40px; text-indent: 180px; }
.aps-dk { width: 101px; height: 43px; background: url(../img/logo_dk.png) 0 0 no-repeat; line-height: 50px; text-indent: 110px; }

h1 { margin: 25px 0 0; font-size: 30px; color: #444; }
a.h1-link:link,
a.h1-link:visited,
a.h1-link:hover,
a.h1-link:active { color: #444; text-decoration: none; }

.job-link {
    display: inline-block; vertical-align: bottom; color: #fff; font-size: 24px; padding: 3px 45px; border: 1px solid #7e0000;
    -webkit-border-radius: 3px; border-radius: 3px;
    background: #bf3333; /* Old browsers */
    /* IE9 SVG*/
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2MwMTUxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2FiMTcxNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYTM2MzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #bf3333 0%, #c01514 50%, #ab1716 51%, #aa3636 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf3333), color-stop(50%,#c01514), color-stop(51%,#ab1716), color-stop(100%,#aa3636)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bf3333 0%,#c01514 50%,#ab1716 51%,#aa3636 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bf3333 0%,#c01514 50%,#ab1716 51%,#aa3636 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bf3333 0%,#c01514 50%,#ab1716 51%,#aa3636 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bf3333 0%,#c01514 50%,#ab1716 51%,#aa3636 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf3333', endColorstr='#aa3636',GradientType=0 ); /* IE6-8 */
}
a.job-link:link,
a.job-link:visited,
a.job-link:hover,
a.job-link:active { color: #fff; text-decoration: none; }

#header .job-link { margin: 25px 0 12px; }

/* Middle
-----------------------------------------------------------------------------*/
#content { padding: 0 30px 200px; }
h2 { font-size: 24px; font-weight: normal; margin: 35px 0 15px; }
h3 { font-size: 20px; font-weight: normal; margin: 35px 0 15px; }
h4 { font-size: 16px; margin: 15px 0; }
h2:first-child,
h3:first-child,
h4:first-child { margin-top: 0; }
p { margin: 0 0 15px; }
.v-head { color: #388bd1; border-bottom: 1px dashed #388bd1; cursor: pointer; }
.v-head:hover { color: #ce1957; border-bottom-color: #ce1957; }
.v-info { display: none; }
.vacancy.show- .v-info { display: block; padding: 10px 15px 1px; background: #fafafa; border: 1px solid #eee; border-radius: 3px; margin: 0 0 15px; }

.like-a-button {
    display: inline-block; vertical-align: bottom; color: #333; font-size: 24px; padding: 3px 45px; border: 1px solid #707070;
    -webkit-border-radius: 3px; border-radius: 3px;
    background: #f3f3f3; /* Old browsers */
    /* IE9 SVG*/
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZjJmMmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWJlYmViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZGRkZGRkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTglIiBzdG9wLWNvbG9yPSIjY2ZjZmNmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTglIiBzdG9wLWNvbG9yPSIjZjNmM2YzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, #f3f3f3 2%, #f2f2f2 2%, #ebebeb 50%, #dddddd 51%, #cfcfcf 98%, #f3f3f3 98%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#f3f3f3), color-stop(2%,#f2f2f2), color-stop(50%,#ebebeb), color-stop(51%,#dddddd), color-stop(98%,#cfcfcf), color-stop(98%,#f3f3f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f3f3 2%,#f2f2f2 2%,#ebebeb 50%,#dddddd 51%,#cfcfcf 98%,#f3f3f3 98%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f3f3 2%,#f2f2f2 2%,#ebebeb 50%,#dddddd 51%,#cfcfcf 98%,#f3f3f3 98%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f3f3 2%,#f2f2f2 2%,#ebebeb 50%,#dddddd 51%,#cfcfcf 98%,#f3f3f3 98%); /* IE10+ */
    background: linear-gradient(to bottom, #f3f3f3 2%,#f2f2f2 2%,#ebebeb 50%,#dddddd 51%,#cfcfcf 98%,#f3f3f3 98%); /* W3C */
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
  width: 990px; margin: -220px auto 0; height: 220px; position: relative; padding: 0 15px; text-align: center;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#footer .content- { border-top: 1px dashed #ccc; padding-top: 15px; }
.prog-sites { padding: 10px 0 0; }
.p-sites { display: inline-block; vertical-align: middle; margin: 0 25px 20px; overflow: hidden; }
.ps-ruby { width: 152px; height: 50px; background: url(../img/progs/ruby.png) 0 0 no-repeat; line-height: 50px; text-indent: 160px; }
.ps-rails { width: 39px; height: 50px; background: url(../img/progs/rails.png) 0 0 no-repeat; line-height: 50px; text-indent: 40px; }
.ps-unicorn { width: 114px; height: 30px; background: url(../img/progs/unicorn.png) 0 0 no-repeat; line-height: 30px; text-indent: 120px; }
.ps-nginx { width: 150px; height: 50px; background: url(../img/progs/nginx.gif) 0 0 no-repeat; line-height: 50px; text-indent: 150px; }
.ps-capistrano { width: 101px; height: 23px; background: url(../img/progs/capistrano.png) 0 0 no-repeat; line-height: 30px; text-indent: 110px; }
.ps-memcache { width: 50px; height: 50px; background: url(../img/progs/memcached.png) 0 0 no-repeat; line-height: 50px; text-indent: 50px; }
.ps-redis { width: 93px; height: 30px; background: url(../img/progs/redis.png) 0 0 no-repeat; line-height: 30px; text-indent: 100px; }
.ps-postgresql { width: 116px; height: 40px; background: url(../img/progs/postgresql.png) 0 0 no-repeat; line-height: 40px; text-indent: 120px; }
.ps-gentoo { width: 38px; height: 40px; background: url(../img/progs/gentoo.png) 0 0 no-repeat; line-height: 40px; text-indent: 40px; }
.ps-kvm { width: 129px; height: 40px; background: url(../img/progs/kvm.png) 0 0 no-repeat; line-height: 40px; text-indent: 130px; }
.ps-glusterfs { width: 177px; height: 40px; background: url(../img/progs/glusterfs.png) 0 0 no-repeat; line-height: 40px; text-indent: 180px; }

.kitty { position: fixed; bottom: -190px; right: -169px; width: 169px; height: 190px; background: url(../img/kitties.png) 0 -190px no-repeat; }
.kitty.gohome- { background-position: 0 0; }
